name: lint-test
on:
  push:

permissions:
  contents: read

jobs:
  lint-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ">=1.25.0"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@9fae48acfc02a90574d7c304a1758ef9895495fa # v7
        with:
          version: latest

      - name: Install dependencies
        run: go get .

      - name: Build
        run: go build -v ./...

  build-push:
    needs: [lint-test]
    uses: lehigh-university-libraries/gha/.github/workflows/build-push-ghcr.yaml@main
    permissions:
      contents: read
      packages: write
    secrets: inherit

  deploy-test:
    needs: [build-push]
    uses: lehigh-university-libraries/gha/.github/workflows/linderman-deploy.yaml@main
    with:
      url: https://apps-test.lib.lehigh.edu/_rollout
    secrets: inherit
    permissions:
      contents: read
      id-token: write

  deploy:
    needs: [deploy-test]
    if: github.ref == 'refs/heads/main'
    uses: lehigh-university-libraries/gha/.github/workflows/linderman-deploy.yaml@main
    with:
      url: https://apps-prod.lib.lehigh.edu/_rollout
    secrets: inherit
    permissions:
      contents: read
      id-token: write
